.head-up{
    background-color: black;
}
.sony-logo img{
    height: 15px;
}

.button-log{
    background-color: grey;
    color: white;
    border-radius: 40px;
    font-weight: 600;
}

.lens-nav{
    width: 25px;
}

.first-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 600px;
}
.second-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}
.jumbotron{
    height: 100%;
}

.banner img{
    width: 100%;
}

.button-buy{
    background-color: rgb(255, 94, 0);
    color: white;
    border-radius: 40px;
    font-weight: 600;
}
.thums-img img{
    width: 100%;
    border-radius: 15px;
}
.thums-img{
    border: 2px solid transparent;
    border-radius: 20px;
    overflow: hidden;
}
.thums-img:hover{
    border: 2px solid rgb(11, 89, 255);
    cursor: pointer;
}
.thums-in{
    width: 100%;
    border-radius: 15px;
}

.motto{
    color: rgb(11, 89, 255);
}

.button-info{
    background-color: rgb(11, 89, 255);
    color: white;
    border-radius: 15px;
}
.button-info a{
    text-decoration: none;
    color: white;
}
.button-info:hover a{
    color: rgb(11, 89, 255);
}
.button-info:hover{
    background-color: white;
    border: 1px solid rgb(11, 89, 255);
}
.paragraph{
    font-size: 1.2rem;
}

.img_playStation img{
    width: 100%;
}

.carousel_play{
    width: 100%;
    
}
.carousel_box{
    border-bottom: 2px solid transparent;
}

.carousel_box:hover{
    border-bottom: 2px solid rgb(11, 89, 255);
    cursor: pointer;
}
.carousel_img img{
    width: 100%;
}

.carousel_play-2{
    width: 100%;
    border-radius: 15px;
    
}
.carousel_box-2{
    border: 2px solid transparent;
    border-radius: 15px;
}

.carousel_box-2:hover{
    border: 2px solid white;
    cursor: pointer;
}
.carousel_img-2 img{
    width: 100%;
    border-radius: 15px;
}
.background-black{
    background-color: rgb(39, 39, 39);
    color: white;
}



@media (max-width: 575.98px){
    .carousel_title{
        display: none;
    }
}