
.background-black{
    background-color: rgb(39, 39, 39);
    color: white;
}
.background-grey{
    background-color: rgb(151, 151, 151);
}
.background-blue{
    background-color: rgb(3, 27, 80);
}
.background-footer{
    background-color: rgb(11, 89, 255);
    color: white;
}
.banner{
    margin-top: 250px;
}
.banner img{
    width: 100%;
}
.button-buy{
    background-color: rgb(255, 94, 0);
    color: white;
    border-radius: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}

.button-log{
    background-color: grey;
    color: white;
    border-radius: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}
.button-info{
    background-color: rgb(11, 89, 255);
    color: white;
    border-radius: 15px;
}
.button-info a{
    text-decoration: none;
    color: white;
}
.button-info:hover a{
    color: rgb(11, 89, 255);
}
.button-info:hover{
    background-color: white;
    border: 1px solid rgb(11, 89, 255);
}
.button-explore-2{
    color: black;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 5px 15px 8px;
}
.button-explore-2:hover{
    color: white;
    background-color: rgb(3, 27, 80);
    border: 1px solid white;
}
.button-explore{
    color: rgb(11, 89, 255);
    background-color: rgb(196, 196, 196);
    border: none;
    border-radius: 15px;
    padding: 5px 15px 10px;
}
.button-explore:hover{
    color: rgb(196, 196, 196);
    background-color: rgb(11, 89, 255);
}
.carousel_play{
    width: 100%;
    
}
.carousel_box{
    border-bottom: 2px solid transparent;
}

.carousel_box:hover{
    border-bottom: 2px solid rgb(11, 89, 255);
    cursor: pointer;
}
.carousel_img img{
    width: 100%;
}

.carousel_play-2{
    width: 100%;
    border-radius: 15px;
    
}
.carousel_box-2{
    border: 2px solid transparent;
    border-radius: 15px;
}

.carousel_box-2:hover{
    border: 2px solid white;
    cursor: pointer;
}
.carousel_img-2 img{
    width: 100%;
    border-radius: 15px;
}

.head-up{
    background-color: black;
}
.img_playStation img{
    width: 100%;
}
.img-globo img{
    width: 100%;
}
.img-globo{
    width: 40px;
}
.img-sie{
    width: 100px;
}
.jumbotron{
    height: 100%;
}
.jumbotron-first{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}
.jumbotron-second{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}
.lens-nav{
    width: 25px;
}
.motto{
    color: rgb(11, 89, 255);
}
.paragraph{
    font-size: 1.2rem;
}
.sony-logo img{
    height: 15px;
}

.thums-img img{
    width: 100%;
    border-radius: 15px;
}
.thums-img{
    border: 2px solid transparent;
    border-radius: 20px;
    overflow: hidden;
}
.thums-img:hover{
    border: 2px solid rgb(11, 89, 255);
    cursor: pointer;
}
.thums-in{
    width: 100%;
    border-radius: 15px;
}
